 @inject SignInManager<IdentityUser> signinManager

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
            <nav class="navbar fixed-top navbar-expand-lg bg-dark navbar-dark">
                <a class="navbar-brand" asp-action="index" asp-controller="home">
                    <img src="~/images/emplo.png" height="30" width="30" alt="employee" style="border-radius:30px;" />
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a asp-action="index" asp-controller="home" class="nav-link">List</a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="create" asp-controller="home" class="nav-link">Create</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        @if (signinManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <form method="post" asp-action="logout" asp-controller="account">
                                    <button type="submit" class="nav-link btn btn-link py-0" style="width:auto">
                                        Welcome  @User.Identity.Name!  Logout
                                    </button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a asp-action="login" asp-controller="account" class="nav-link">Login</a>
                            </li>
                            <li class="nav-item">
                                <a asp-action="register" asp-controller="account" class="nav-link">Register</a>
                            </li>
                        }
                    </ul>
                </div>
            </nav>

            <div class="container">
                @RenderBody()
            </div>
        @RenderSection("Scripts", required: false)
</body>
</html>
