@model IEnumerable<IdentityRole>

@{ 
    ViewBag.Title = "List Roles";
}
    <br /><br /><br />
@if (Model.Any())
{   
    <a class="btn btn-primary btn-sm rounded-0 mb-3 float-right" 
       asp-action="createRole" asp-controller="adminstration"
       style="width:auto" >Add New Role</a>

    @foreach(var role in Model)
    {
    <div class="col-sm-8">
        <div class="card mb-3 rounded-0">
            <div class="card-header">
                Role Id: @role.Id
            </div>
            <div class="card-body">
                <h5 class="card-title">@role.Name</h5>
            </div>
            <div class="card-footer">
                <a asp-action="EditRole" asp-route-id="@role.Id" asp-controller="adminstration" class="btn btn-info btn-sm rounded-0">Edit</a>
                <a href="#" class="btn btn-danger btn-sm rounded-0">Delete</a>
            </div>
        </div>
    </div>
    }
}
else { 

    <div class="card">
        <div class="card-header">
            No roles created yet
        </div>
        <div class="card-body">
            <h5 class="card-title">Use the button below to create a role</h5>
            <a asp-action="createRole" asp-controller="Adminstration" style="width:auto;"
               class="btn btn-primary btn-sm rounded-0">Create Role
            </a>
        </div>
    </div>

}